# Copyright (c) 2025 Alex Fabre
# SPDX-License-Identifier: Apache-2.0

config TOFSENSE
	bool "Nooploop TOFSense ToF sensor"
	default y
	depends on DT_HAS_NOOPLOOP_TOFSENSE_ENABLED
	depends on UART_INTERRUPT_DRIVEN
	help
	  Enable driver for the Nooploop TOFSense time of flight sensor.
