# SPDX-License-Identifier: Apache-2.0

# Board Configuration
CONFIG_SOC_SERIES_HT32F5XXXX=y
CONFIG_SOC_HT32F52341=y
CONFIG_BOARD_ESK32_30502=y

# Enable MPU
CONFIG_ARM_MPU=n

# Console
CONFIG_CONSOLE=y
CONFIG_UART_CONSOLE=y
CONFIG_SERIAL=y

# GPIO
CONFIG_GPIO=y

# Pinctrl
CONFIG_PINCTRL=y

# Clock Control
CONFIG_CLOCK_CONTROL=y

# XIP (Execute In Place)
CONFIG_XIP=y

# Main stack size
CONFIG_MAIN_STACK_SIZE=1024
